@font-face {
  font-family: "Circe";
  src: url(../Fonts/circe/circe.ttf);
}

@font-face {
  font-family: "Gilam";
  src: url(../Fonts/gilam-bold/gilam-light.ttf);
}

.container {
  margin: 0 auto;
  background: #171717;
  height: 4000px;
}

.header-main-container {
  background: url(../Images/Photo/header-bg.jpeg) no-repeat center/cover;
  background-attachment: fixed;
  padding-bottom: 192px;
}

.header,
.main {
  width: 1460px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 46px;
}

.logo {
  display: flex;
  width: 216px;
}

.logo__image {
  width: 216px;
  height: 33px;
}

.contact {
  display: flex;
  justify-content: space-between;
  width: 420px;
  align-items: center;
}

.contact__phone {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #ffffff;
}

.contact__phone-paint {
  color: #d6af76;
}

.handset-img {
  width: 13px;
}

.contact__callback,
.btn__all-projects {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 1px solid #e4b564;
  color: #e4b564;
  background-color: #0e0e0e;
  height: 50px;
}

.contact__callback-link {
  text-decoration: none;
  color: #e4b564;
}

.contact__callback {
  width: 218px;
  text-align: center;
}

.title {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}

.works {
  margin-top: 128px;
}

.main__works-description {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  padding: 41px 0;
  width: 1182px;
}

.main__works {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}

.works__item {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  padding: 0 40px;
  height: 468px;
}

.works__item:nth-child(1) {
  grid-column: 1/3;
  background: #634f2c;
}

.works__item:nth-child(2) {
  grid-column: 3/5;
  background: #b4a385;
}

.works__item:nth-child(3) {
  grid-column: 5/7;
  background: #e4b564;
}

.works__item:nth-child(4) {
  grid-column: 1/4;
  background: #635a4a;
}

.works__item:nth-child(5) {
  grid-column: 4/7;
  background: #b08c4d;
}

.technique {
  padding: 161px 0 94px;
}

.main__parc-technique {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  height: 923px;
  width: 1460px;
}

.parc_item-name {
  font-weight: 700;
}

.parc__item {
  font-family: "Gilam";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  width: 467px;
  margin-bottom: 25px;
  padding: 45px 50px;
  color: #ffffff;
}

.parc__item:nth-child(1) {
  height: 313px;
  background: #0e0e0e;
}

.parc__item:nth-child(2) {
  height: 560px;
  background: #1f1f1f;
}

.parc__item:nth-child(3) {
  height: 439px;
  background: #242424;
}

.parc__item:nth-child(4) {
  height: 405px;
  background: #e4b564;
}

.parc__item:nth-child(5) {
  height: 255px;
  background: #1f1f1f;
}

.parc__item:nth-child(6) {
  height: 313px;
  background: #0e0e0e;
}

.parc__item:nth-child(7) {
  height: 277px;
  background: #0a0909;
}

.client-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0e0e0e;
  background: url(../Images/Photo/parallax-bg.jpeg) no-repeat center/cover;
  background-attachment: fixed;
}

.client_title-container {
  display: flex;
  width: 1460px;
  justify-content: space-between;
  align-items: center;
  margin: 161px 0 61px;
}

.btn__all-projects {
  width: 180px;
}

.title__clients {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 1460px;
}

.clients__item {
  width: 487px;
  height: 391px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__item:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client__item-contact {
  width: 326px;
  font-family: "Gilam";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.clients__item:nth-child(1) {
  background: #634f2c;
}

.clients__item:nth-child(2) {
  background: #e8d2abc2;
}

.clients__item:nth-child(3) {
  background: #e4b564;
}

.clients__item:nth-child(4) {
  background: #635a4a;
}

.clients__item:nth-child(5) {
  background: #b08c4d;
}

.clients__item:nth-child(6) {
  background: #634f2c;
}
